.img-thumbnail {
    background-color: transparent !important;
    border: none !important;
    border-radius: 50px !important;
    width: auto;
}

@media (max-width: 768px) {
    .img-thumbnail {
        max-height: 800px; 
    }
}

@media (max-width: 480px) {
    .img-thumbnail {
        max-height: 400px; 
    }
}

.heading1 {
    font-family: "Cormorant Garamond", serif;
    color: #05428a !important;
    font-size: 70px;
    align-items: center !important;
}

.heading2 {
    font-family: "Cormorant Garamond", serif;
    color: #05428a !important;
    font-size: 22px;
    font-weight: 500;
}

.to-the-left {
    padding: 80px 50px !important;
}

#intro.to-the-left {
    background-color: #c6c2cd;
}

@media (max-width: 768px) {
    .img-thumbnail {
        max-height: 800px; /* Reduce height on smaller screens */
    }
    .heading1 {
        font-size: 50px;
        padding-right: 15px;
        /* padding-top: 2px; */
    }

    .to-the-left {
        padding: 40px 25px;
    }

    .heading2 {
        font-size: 24px;
        padding-right: 15px;
    }

    .btn-primary {
        font-size: 18px !important;
        margin-top: 20px !important;
        width: 80%; 
    }

    .work-with-me {
        width: 100% !important;
        font-size: 5px !important;
    }

    .buttons-resume-wwm {
        margin-bottom: 10px !important;
    }
}

@media (max-width: 480px) {
    .heading1 {
        font-size: 28px; 
        padding-right: 10px;
    }

    .to-the-left {
        padding: 30px 15px;
    }

    .heading2 {
        font-size: 18px;
        padding-right: 10px;
    }

    .buttons-resume-wwm {
        margin-bottom: 10px !important;
    }
}

@media (max-width: 411px) {
    .work-with-me {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.btn-primary {
    margin-top: 40px !important;
    background-color: #05428a !important;
    border: none !important;
    border-radius: 30px !important;
    width: 80%; /* Use percentage for responsiveness */
    max-width: 250px; /*Maintain max width on larger screens */
    color: #c6c2cd !important;
    font-family: "Cormorant Garamond", serif !important;
    font-size: 23px !important;
    padding: 10px 20px; /* Add padding for better touch targets on mobile */
    text-align: center;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #073a6f !important; /* Darker shade on hover */
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#aboutMe.container {
    margin-top: 50px;
}

#getToKnowMe.heading1 {
    font-size: 65px;
    margin-bottom: 0% !important;
    font-weight: 700 !important;
}

#getToKnowMe.heading2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;

}
div.card {
    background-color: #ebe9e5;
}

.contact-row {
    margin-bottom: 50px;
}

.card-subtitle {
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 0% !important;
    font-family: "Cormorant Garamond", serif;
    font-size: 18px !important;
    font-weight: 700 !important;
}

@media (max-width: 480px) {
    div.card {
        margin-top: 10px;
    }    
}

@media (max-width: 760px) {
    div.card {
        margin-top: 10px;
    }    
}

Button.modalButtons {
    max-width: 100px;
    font-size: 15px !important;
    padding: 3px 5px !important;
}

.modal-content {
    font-family: "Cormorant Garamond", serif;
    color: #05428a !important;
}

#skills.to-the-left {
    /* background: linear-gradient(#202434, #323954 ); */
    background-color: #202434;
    padding-bottom: 20px !important;
    padding-top: 10px !important;
}

#skillsheading1.heading1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 60px !important;
    /* text-align: center !important; */
    line-height: 1;
    font-weight: 600;
}

img.img-achv-icons {
    width: 150px; /* Adjust the icon size as needed */
    height: 150px;
    margin-bottom: 10px;
    display: inline-block;
}

.achievement-item {
    text-align: center;
    flex-direction: column;
}

.normal-content {
    text-align: center;
    border-radius: 8px;
    font-family: "Cormorant Garamond", serif;
    color: #202434 !important;
    font-size: 20px;
    font-weight: 600;
}

#skill-card-text.normal-content {
    color: #202434 !important;
    text-align: left !important;
}

#fs.contact-row {
    margin-bottom: 10px !important;
}

#cloud.contact-row {
    margin-bottom: 10px !important;
}

.skills-text {
    color: #4d5574 !important;
}

.featured-text{
    color: #ebe9e5;
    font-weight: 500;
}

.featured-text2{
    color: #ebe9e5;
    font-weight: 500;
}

#skills2.to-the-left {
    background-color: #ebe9e5;
    padding-bottom: 20px !important;
    padding-top: 35px !important;
}


#findMe.card {
    max-width: 18rem;
    margin-top: 2rem;
    background-color: #c1b680;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

#findMe.card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    z-index: 10; /* Bring it forward */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* Add shadow for depth effect */
}

.findMe-links{
    text-decoration: none !important;
    white-space: normal !important; 
    word-wrap: break-word !important; 
}

#three-achv.three-achv {
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ebe9e5;
}

.contact-row img {
    transition: transform 0.3s ease; /* Smooth hover effect */
}

.contact-row img:hover {
    transform: scale(1.2); /* Slight zoom on hover */
}

#allskills.contact-row {
    color: #ebe9e5 !important;
    font-family: "Cormorant Garamond", serif;
}

#allskills p {
    font-size: 23px;
}

#allskills .yellow-highlight-spans {
    font-size: 30px;
    color: #c1b680 !important;
    font-weight: 500;
}

#education.to-the-left {
    background-color: #ebe9e5;
    font-family: "Cormorant Garamond", serif;
}

#edu-heading.heading1 {
    padding-top: 0px !important;
    font-weight: 600;
}

.edu {
    padding-bottom: 30px !important;
}

.edu-details {
    border-bottom: 2px solid #05428a;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.edu-dsi-details {
    border-bottom: 2px solid #e56214;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.degree {
    font-size: 22px;
    font-weight: bold;
    color: #202434;
}

.institution {
    font-size: 18px;
    font-weight: 600;
    color: #202434;
}

.duration {
    font-size: 18px;
    color: #202434;
}

#experience.to-the-left {
    padding-top: 10px !important;
}

.exp-rows {
    margin-bottom: 30px;
}

#exp-heading.heading1 {
    color: #202434;
    font-size: 70px !important;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
}

.exp-cells {
    background-color: #c1b680;
    border-radius: 30px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem !important;
    min-height: 200px;
}


.exp-cells h3 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 2rem !important;
}

.exp-cells p {
    font-family:  "Cormorant Garamond", serif;
    font-size: 20px;
}

.exp-cells Button {
    align-self: flex-start; /* Optional if you want it aligned left; remove if centered */
    max-width: 100px;
    font-size: 20px !important;
    background-color: #c6c2cd !important;
    color: #05428a !important;
    transition: all 0.3s ease;
    box-shadow: none;
    padding: 5px 10px;
}

.exp-cells Button:hover {
    background-color: #05428a !important;
    color: #c6c2cd !important;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px #05428a;
    z-index: 10;
}

.exp-modal p {
    font-family: "Cormorant Garamond", serif !important;
    font-size: 20px !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#projects.to-the-left {
    background-color: #c6c2cd !important;
    height: auto;
    padding-left: 6% !important;
    padding-right:6% !important;
    border-top: black solid;
    border-bottom: black solid;
}

#project-heading.heading1 {
    color: #202434;
    font-size: 70px !important;
    font-weight: 600;
    padding-bottom: 50px;
}

.project-option {
    cursor: pointer;
}

.project-title {
    padding: 15px;
    background-color: #05428a; /* Color for unselected option */
    color: #ffffff;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    transition: background-color 0.3s ease;
    border: #c6c2cd solid;
}

.project-title:hover {
    background-color: #202434; /* Hover color */
}

.project-title.expanded {
    background-color: #202434; /* Color when selected */
    color: #ebe9e5;
}

.project-description {
    padding: 15px;
    background-color: #ebe9e5; /* Color for expanded description space */
    font-size: 20px;
    font-weight: 600;
    color: #202434;
    margin-top: 5px;
    transition: max-height 0.3s ease;
    font-family: "Cormorant Garamond", serif;
}

.project-description h3 {
    font-weight: 700;
}

.pd-spans{
    color: #c1b680;
    font-weight: 700;
    font-size: 30px;
}

.project-description strong {
    font-size: 23px !important;
}

.pc-button {
    min-width: 350px !important;
    text-decoration: none !important;
}

.download-link {
    text-decoration: none;
}

#certifications.to-the-left {
    padding-left: 6% !important;
    padding-right: 6% !important;
    background-color: #ebe9e5;
}

#certs-heading.heading1 {
    color: #202434;
    font-size: 65px !important;
    font-weight: 600;
    padding-bottom: 50px;
}

.certs > .col{
    padding: 30px !important;
}

.image-container {
    position: relative;
    display: inline-block;
}

.spinner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c6c2cda6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    color: #202434 !important;
}

#myResume.to-the-left {
    background-color: #ffffff;
    padding-left: 6% !important;
    padding-right: 6% !important;
    padding-bottom: 60px !important;
    border-bottom: black solid;
    border-radius: 0px 0px 80px 80px;
    z-index: 2;
    position: relative;
}

#resume-heading.heading1 {
    color: #202434;
    font-size: 70px !important;
    font-weight: 600;
    text-align: center !important;
}

#contact-me-form {
    margin-top: 8%;
    border: #202434 solid;
    border-radius: 10px;
    padding: 30px 30px;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    transition: transform 0.3s ease;
    color: #202434 !important;
    font-weight: 500;
}

#contact-me-form:hover {
    transform: scale(1.02);
    z-index: 8;
}

#contact-me-form .heading1 {
    font-size: 40px !important;
    font-weight: 500;
}
#footer.to-the-left {
    background-color: #c6c2cd;
    padding: 80px 6% 80px 6% !important;
    margin-top: -80px;
    z-index: 1;
}

.footer-row {
    padding: 50px 0px;
}

#footer-name.heading1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px !important;
}

#footer-content p {
    font-size: 18px;
    font-weight: 800 !important;
    margin-bottom: 0px !important;
    color: #202434 !important;
    text-align: left;
    line-height: 1.2;
}

.small-text {
    font-size: 20px; 
    color: #af140c; 
    margin-top: -10px;
    font-family: "Cormorant Garamond", serif; 
}

#footer-content a {
    text-decoration: none !important;
    color: #202434;
    transition: color 0.3s ease;
}

#footer-content a:hover {
    color: #05428a; 
    text-decoration: underline !important;
}

span.highlight-text {
    color: #af140c;
    font-weight: 500;
}
